<html>
    <head>
        <title>Bem Vindo!</title>
    </head>
    <body>
        <h1>Bem vindo ao nosso site!</h1>

        <footer>
            Tudos os direitos reservados &copy; 2010 - @DateTime.Now.Year
        </footer>
    </body>
</html>